# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo

# =========================
# Build output
# =========================
**/bin/
**/obj/
Debug/
Release/

# =========================
# NuGet
# =========================
packages/

# =========================
# Logs
# =========================
*.log