<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="IsAllNetworkArea" value="1"/>
    <add key="AutoSuffixAddition" value="0"/>
    <add key="LocalTabFilePath" value="C:\CIOS_Network"/>
    <add key="FieldName" value="Market"/>
    <add key="SharedTabFilePath" value="http://10.244.98.161/NETWORK/"/>
  </appSettings>
  <connectionStrings>
    <add name="IOSServer" connectionString="Dsn=IOS_Server_ODIDO;uid=IOS;pwd=IOS"/>
  </connectionStrings>
</configuration>
